body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
.u516 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u517_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u517 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:375px;
  height:60px;
}
.u517_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u518_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
.u518 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:30px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
.u518_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
.u519_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
.u519 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:56px;
  width:25px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
.u519_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u515-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:80px;
}
#u515-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:81px;
  width:375px;
  height:80px;
}
#u515-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:162px;
  width:375px;
  height:80px;
}
#u515-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:243px;
  width:375px;
  height:80px;
}
#u515-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:324px;
  width:375px;
  height:80px;
}
#u515-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:405px;
  width:375px;
  height:80px;
}
#u515-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:486px;
  width:375px;
  height:80px;
}
#u515-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:567px;
  width:375px;
  height:80px;
}
#u515-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:648px;
  width:375px;
  height:80px;
}
#u515-10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:729px;
  width:375px;
  height:80px;
}
#u515-11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:810px;
  width:375px;
  height:80px;
}
#u515-12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:891px;
  width:375px;
  height:80px;
}
#u515-13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:972px;
  width:375px;
  height:80px;
}
#u515 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1052px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u520 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1052px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
