body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
.u983 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u984_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u984 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:375px;
  height:60px;
}
.u984_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u985_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
.u985 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:30px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
.u985_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
.u986_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
.u986 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:56px;
  width:196px;
  height:17px;
  font-size:12px;
}
.u986_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
.u987_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
.u987 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:44px;
  width:97px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
.u987_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u982-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:80px;
}
#u982-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:81px;
  width:375px;
  height:80px;
}
#u982-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:162px;
  width:375px;
  height:80px;
}
#u982-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:243px;
  width:375px;
  height:80px;
}
#u982-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:324px;
  width:375px;
  height:80px;
}
#u982-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:405px;
  width:375px;
  height:80px;
}
#u982-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:486px;
  width:375px;
  height:80px;
}
#u982-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:567px;
  width:375px;
  height:80px;
}
#u982-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:648px;
  width:375px;
  height:80px;
}
#u982-10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:729px;
  width:375px;
  height:80px;
}
#u982-11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:810px;
  width:375px;
  height:80px;
}
#u982-12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:891px;
  width:375px;
  height:80px;
}
#u982-13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:972px;
  width:375px;
  height:80px;
}
#u982 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1052px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
