body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
.u973 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u974_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u974 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:375px;
  height:60px;
}
.u974_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u975_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
.u975 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:30px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
.u975_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
.u976_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
.u976 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:56px;
  width:196px;
  height:17px;
  font-size:12px;
}
.u976_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
.u977_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
.u977 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:44px;
  width:97px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
.u977_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u972-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:80px;
}
#u972-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:81px;
  width:375px;
  height:80px;
}
#u972-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:162px;
  width:375px;
  height:80px;
}
#u972-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:243px;
  width:375px;
  height:80px;
}
#u972-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:324px;
  width:375px;
  height:80px;
}
#u972-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:405px;
  width:375px;
  height:80px;
}
#u972-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:486px;
  width:375px;
  height:80px;
}
#u972-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:567px;
  width:375px;
  height:80px;
}
#u972-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:648px;
  width:375px;
  height:80px;
}
#u972-10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:729px;
  width:375px;
  height:80px;
}
#u972-11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:810px;
  width:375px;
  height:80px;
}
#u972-12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:891px;
  width:375px;
  height:80px;
}
#u972-13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:972px;
  width:375px;
  height:80px;
}
#u972 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1052px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
